* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincont {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.authform {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}

.textimage {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    align-items: center;
}

.textim {
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.input__container {
    margin-bottom: 25px;
    border-bottom: #ccc;
    margin: 20px;
}

.inputc {
    margin-top: 50px;
    width: 372px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}

.buttc {
    width: 372px;
    height: 50px;
    padding: 12px;
    margin-top: 15px;
    background-color: #4182f9;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttc:hover {
    background-color: #3169c5;
}

.bottom__container {
    margin-top: auto;
    padding-top: 40px;
    margin-bottom: 60px;
}

.top__container {
    margin-bottom: auto;
    padding-bottom: 40px;
}

.bottom__container h2 {
    margin-top: 60px;
}

.c {
    margin-bottom: 20px;
}
.c2 {
    margin-bottom: 20px;
}

.c2 {
    margin-top: 200px;
}

.c {
    font-weight: bolder;
}

@media (max-width: 1024px) {
    .textim,
    .textimage {
        display: none;
    }
}
