.mainContainer {

    height: 100vh;
    width: 100vw;
    background-color: #c8dafc;
    }

.mainContent {
    flex-grow: 1;
    margin-left: 64px; 
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

