.right {
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.filterArea {
    width: 100%;
    height: 79.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
.filterArea input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.alltag {
    flex-grow: 1;
    border-radius: 10px;
    background-color: #e8f0fe;
    overflow-y: auto;
}

.alltag::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.alltag::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

.alltag::-webkit-scrollbar-thumb {
    background-color: #1d75dd;
    border-radius: 10px;
    border: 2px solid #c8dafc;
}

.alltag::-webkit-scrollbar-thumb:hover {
    background-color: #0a5bb5;
}

.usage {
    font-size: 12px;
    color: #888;
}

.removeBtn {
    background-color: #ff4d4d;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removeBtn:hover {
    background-color: #cc0000;
}

.addBtn {
    background-color: #1d75dd;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBtn:hover {
    background-color: #0a5bb5;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
}

.pageNumber {
    font-size: 16px;
    color: #1d75dd;
}

.pagecontainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #d1e6ff;
    border-radius: 50%;
}

.textcontainer {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 2px;
}
.textcontainer p {
    margin: 0;
    margin-left: 20px;
    padding: 5px;
    font-size: 20px;
    color: #1d75dd;
}
