* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.profileheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8dafc;
    padding: 10px 20px;
}
  
.headerleft h1 {
    font-size: 24px;
    margin: 0;
}
  
.headerleft p {
    font-size: 14px;
    color: #7a7a7a;
}
  
.headerright {
    display: flex;
    align-items: center;
}

.searchsection {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    margin-right: 5px;
}

.searchsection img {
    margin-right: 8px; 
}

.searchsection input {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    outline: none; 
    width: 200px; 
    background-color: #fff; 
}


.mesinfo {
    width: 40px;
    height: 40px;
    margin-left: 15px; 
    border-radius: 10px; 
    background-color: #fff; 
}
.profilepic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #fff;
}

